# compiled output
./lib
./build

# npm cache
/npm-cache

# dependencies
/node_modules

# IDEs and editors
/.idea

# misc
npm-debug.log
build.stats.json
junit.xml
build/test-coverage/ui/lcov-report/GoogleAnalytics.js.html
