registry = https://registry.npmjs.org
@imperva:registry = http://il-mavenrep-lp1:8080/artifactory/api/npm/npm-repos
_auth = Y2lhZG1pbjpBYjA0ZDc1MWQ0YzUzMTBmN2NhY2NjYjRhMTJlYjIzZg==
strict-ssl=false
cache = npm-cache
always-auth = false
email = mosheh@imperva.com

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=08A429A5-ACD1-411A-A5B7-D4A082D0AFEF
