registry = http://il-mavenrep-lp1:8080/artifactory/api/npm/npm-repos
_auth = Y2lhZG1pbjpBYjA0ZDc1MWQ0YzUzMTBmN2NhY2NjYjRhMTJlYjIzZg==
strict-ssl=false
cache = npm-cache
always-auth = false
email = mosheh@imperva.com
